@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


:root {
  --primary: #111B54;
  --light: rgb(240, 239, 239);
  --grey: #efefef;
  --gold: #ffd901;
  --silver: #7c7c7c;
  --plata: rgb(247, 247, 247);
}


body {
  overflow: hidden;
  /* font-family: 'Muli', sans-serif; */
  font-family:'Montserrat', sans-serif !important;
  font-weight: 300;
  color: var(--primary);
}

#sidebar-container {
  min-height: 100vh;
  background-color: var(--primary) !important
}

#sidebar-container .logo {
  padding: .875rem, 1.25rem;
}

#sidebar-container .menu {
  width: 18rem;
}

a{
  text-decoration: none;
}

.homebankLogo{
  width: 288px; 
  height: 85px;
  }

a:hover {
  text-decoration: none;
  font-size: 20px;
  background-color: #4355b8fa;
  border-radius: 8px;
}

.icon {
  margin-right: 10px;
  width: 35px;
  height: 35px;
}

/* navbar */

#navbarSupportedContent {
  flex-direction: row-reverse;
  justify-content: space-between;

}

.lupaBuscar {
  right: 5px;
}


/* contenido */

#content {
  display: flex;
  overflow-y: auto;
  height: 100vh;
  padding-bottom: 5rem;
  flex-direction: column;
}

.stat {
  border-right: 1px solid var(--primary);
}

.bg-mix {
  /* background: linear-gradient(180deg, var(--light) 50%, var(--grey) 0); */
}

a {
  /* color: #efefef!important; */
  /* text-decoration: none; */
}


/* COMIENZO DE TARJETA  */

.cardGOLD {
  background-image: url(../img/cardGold.jpg);
}

.cardSILVER {
  background-image: url(../img/cardSilver.jpg);
}

.cardTITANIUM {
  background-image: url(../img/cardTitanium.jpg);
}


.grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  /* row-gap: 2rem; */
  grid-gap: 1rem;
}

.card {
  width: 320px;
  height: 190px;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px;
  flex-direction: row
}

.card__part {
  box-shadow: 1px 1px #aaa3a3;
  top: 0;
  position: absolute;
  z-index: 1000;
  left: 0;
  display: inline-block;
  width: 320px;
  height: 190px;
  /* background-image aca puedo cambiar el color de*/
  /* background-color: #61605a;   background-image: url('https://image.ibb.co/bVnMrc/g3095.png'), linear-gradient(to right bottom, #fd696b, #fa616e, #f65871, #f15075, #ec4879); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 8px;

  -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.card__front {
  padding: 18px;
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
}

.card__back {
  padding: 18px 0;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
}

.card__black-line {
  margin-top: 5px;
  height: 38px;
  background-color: #303030;
}

.card__logo {
  height: 16px;
}

.card__front-logo {
  position: absolute;
  top: 18px;
  right: 18px;
}

.card__square {
  border-radius: 5px;
  height: 30px;
}

.card_numer {
  display: block;
  width: 100%;
  word-spacing: 4px;
  font-size: 20px;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.card__space-75 {
  width: 75%;
  float: left;
}

.card__space-25 {
  width: 25%;
  float: left;
}

.card__label {
  font-size: 10px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 1px;
}

.card__info {
  margin-bottom: 0;
  margin-top: 5px;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.card__back-content {
  padding: 15px 15px 0;
}

.card__secret--last {
  color: #303030;
  text-align: right;
  margin: 0;
  font-size: 14px;
}

.card__secret {
  padding: 5px 12px;
  background-color: #fff;
  position: relative;
}

.card__secret:before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  height: calc(100% + 6px);
  width: calc(100% - 42px);
  border-radius: 4px;
  background: repeating-linear-gradient(45deg, #ededed, #ededed 5px, #f9f9f9 5px, #f9f9f9 10px);
}

.card__back-logo {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.card__back-square {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.card:hover .card__front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);

}

.card:hover .card__back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
}

/* trabajar con background */

/* FIN DE TARJETA */