@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --primary: #111B54;
    --light: rgb(240, 239, 239);
    --grey: #efefef;
}


body {
    overflow: hidden;
    font-family:'Montserrat', sans-serif !important;
    /* font-; */
    /* font-family: 'Muli', sans-serif; */
    font-weight: 300;
    color: var(--primary);
}

#sidebar-container {
    min-height: 100vh;
    background-color: var(--primary) !important
}

#sidebar-container .logo {
    padding: .875rem, 1.25rem;
}

#sidebar-container .menu {
    width: 18rem;
    text-decoration: none;
}

a{
    text-decoration: none;
}

.homebankLogo{
width: 288px; 
height: 85px;
}


a:hover {
    text-decoration: none;
    font-size: 20px;
    background-color:#4355b8fa;
    border-radius: 8px;
}

.icon {
    margin-right: 10px;
    width: 35px;
    height: 35px;  
}

.loanButton{
color: #efefef;
text-decoration: none;
}

.loanButton:hover{
   text-decoration: none;
}

/* navbar */

#navbarSupportedContent {
    flex-direction: row-reverse;
    justify-content: space-between;

}

.lupaBuscar {
    right: 5px;
}


/* contenido */

#content{
    display: flex;
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
    flex-direction: column;
}

.stat {
    border-right: 1px solid var(--primary);
    }

.bg-mix {
     background: linear-gradient(180deg, var(--light) 50%, var(--grey) 0);
}

/*
.cardPrestamos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
*/
